/* 页脚透明 */

#footer {
    background: transparent !important;
    color: #787878;!important;
}

/* 首页中间打字效果上方 */
#page-header #site_title {
    color: #80bdab;
}
/* 顶部导航栏 */
#nav a {
    color: #f9f2f4;
}
/*#web_bg {*/
/*  !* 背景图像的地址（url括号里）  *!*/
/*  background: url('https://cdn.jsdelivr.net/npm/kang-static@latest/avatar.jpg');*/
/*  !* 背景图像不重复 *!*/
/*  background-repeat: no-repeat;*/
/*  !* 背景图像大小 *!*/
/*  background-size: cover;*/
/*}*/
/* 滚动条 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #92d7cd;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #92d7cd;
}
#web_bg {
  background: linear-gradient(180deg, rgba(236,244,194,1) 28%, rgba(212,228,195,1) 100%);
}
/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */
/*.footer_custom_text {*/
/*    color: #00c4b6;*/
/*}*/